<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    style   
        include style1.css 

    <title>iChat - Real Time Chat Application</title>
</head>
<body>
    <nav>
        <img src="./static/images/logo1.png" alt="Not found" id="logo">
        <h1>Welcome to iChat app</h1>
    </nav>
    <div class="container">
        
    </div>
    <div class="send-message-bar">
        <form action="#" id="form1">
            <input type="text" name="msg-typed" id="msg-typed">
            <input type="submit" value="&#10148;" id="submit-now">
        </form>
    </div>


    script(src="http://localhost:8000/socket.io/socket.io.js") 
    script  
        include script1.js
</body>
</html>